<section class="main-section" id="main">

    <div class="wave">

        <svg width="100%" height="355px" viewBox="0 0 1920 355" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Apple-TV" transform="translate(0.000000, -402.000000)" fill="#FFFFFF">
                    <path
                        d="M0,439.134243 C175.04074,464.89273 327.944386,477.771974 458.710937,477.771974 C654.860765,477.771974 870.645295,442.632362 1205.9828,410.192501 C1429.54114,388.565926 1667.54687,411.092417 1920,477.771974 L1920,757 L1017.15166,757 L0,757 L0,439.134243 Z"
                        id="Path"></path>
                </g>
            </g>
        </svg>

    </div>

    <div class="container">
        <div class="row row2 align-items-center">
            <div class="col-lg-7 text-center text-lg-left">
                <h1 data-aos="fade-right">CourseName</h1>
                <div class="mb-5" data-aos="fade-right" data-aos-delay="100">
                    <table>
                        <tr>
                            <td>
                                <p style="font-weight: bold;">Course Code:</p>
                            </td>
                            <td>
                                <p>IS211</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="font-weight: bold;">Department:</p>
                            </td>
                            <td>
                                <p>Information Systems</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="font-weight: bold;">Academic Level:</p>
                            </td>
                            <td>
                                <p>200</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="font-weight: bold;">Credit Hours:</p>
                            </td>
                            <td>
                                <p>3</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="font-weight: bold;">Contact Hours Through:</p>
                            </td>
                            <td>
                                <table class="table" style="color: white;">
                                    <thead>
                                        <tr>
                                            <th scope="col">Lecture</th>
                                            <th scope="col">Tutorial</th>
                                            <th scope="col">Practical</th>
                                            <th scope="col">Total</th>
                                        </tr>
                                    </thead>
                                    <tr>
                                        <td>2.5</td>
                                        <td>0.0</td>
                                        <td>1.5</td>
                                        <td>4.0</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                    </table>
                </div>
            </div>

            <div class="col-lg-5 logo-wrap" data-aos="fade-left">
                <table class="doctor-info">
                    <tr>
                        <td colspan="2">
                            <img src="../assets/img/avatar.png" alt="Image">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="font-weight: bold;">Professor:</p>
                        </td>
                        <td>
                            <p>Marwa Salah</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="font-weight: bold;">Email:</p>
                        </td>
                        <td>
                            <p>marwa123@gmail.com</p>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
   

</section>