
<section class="main-section" id="main">
        <div class="container">
            <div class="row row2 align-items-center">
                <div class="col-12 main-text-image">
                    <div class="row">
                        <div class="col-lg-5 logo-wrap">
                            <img src="assets\img\avatar.png" alt="Image" class="sa-logo avatar" data-aos="fade-left">
                        </div>
                        <div class="col-lg-7 text-center text-lg-left">
                            <h1 data-aos="fade-right">20171882</h1>
                            <div class="mb-5" data-aos="fade-right" data-aos-delay="100">
                                <table>
                                    <tr>
                                        <td>
                                            <p style="font-weight: bold;">Name:</p>
                                        </td>
                                        <td>
                                            <p>Ahmed Hassan</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="font-weight: bold;">Email:</p>
                                        </td>
                                        <td>
                                            <p>a7med7assan98@gmail.com</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="font-weight: bold;">Phone:</p>
                                        </td>
                                        <td>
                                            <p>01152908569</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="font-weight: bold;">Address:</p>
                                        </td>
                                        <td>
                                            <p>10 Osama El-Sadik, Nasr City</p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>