<section class="main-section" id="main">
<div class="container">
    <div class="row align-items-center">
        <div class="col-12 main-text-image">
            <div class="row">
                <div class="col-lg-7 text-center text-lg-left">
                    <h1 data-aos="fade-right">Smart Attendance</h1>
                    <p class="mb-5" data-aos="fade-right" data-aos-delay="100">Using Beacon, This program solves
                        a daily educational problem in all universities, called the issue of taking attendance
                        during lectures. This program is not just for attendance tracking but also for providing
                        the essential
                        activities for student and professor like managing grades and assignments by
                        establishing an application for educational communication that cares for this category
                        of society which is not small. </p>
                    <p data-aos="fade-right" data-aos-delay="200" data-aos-offset="-500"><a href="#"
                            class="btn btn-outline-white">Connect Beacon Now</a></p>
                </div>
                <div class="col-lg-5 logo-wrap">
                    <img src="assets/img/sa.png" alt="Image" class="sa-logo" data-aos="fade-right">
                </div>
            </div>
        </div>
    </div>
</div>
</section>